<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-35BEJ6NFZ3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-35BEJ6NFZ3');
    </script>
</head>
<body>
    {% include nav.html %}

    {{ content }}
</body>
</html>